*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: blur(0px);
    overflow: hidden;
    position: relative;
}
.container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 0;
}
.head{
    display: flex;
    justify-content: space-between;  
    margin-top: 10px;
    z-index: 1;
    position: relative;

}
.head button{
    padding: 7px 20px 7px 20px;
    margin-right: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.head button:active{
    background-color: white;
    color: red;
}
.head h1{
    margin-left: 20px;
    color: red;
}
.mid{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 100px;
    color: white;
}
.mid p{
    font-size: 20px;
    margin-top: 10px;
}
.mid input{
    padding: 13px;
    width: 350px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 17px;
}

.start_btn{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.start_btn button{
    padding: 10px 23px 10px 23px;
    font-size: 19px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
}
.start_btn button:active{
    background-color: white;
    color: red;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}



/*   RESPONSIVENESS SECTION    */

@media (max-width: 900px) {
    .mid h1 {
        font-size: 35px;
    }

    .mid p {
        font-size: 18px;
    }

    .mid input {
        width: 300px;
    }
}


@media (max-width: 600px) {

    .head {
        flex-direction: row;
        padding: 0 10px;
    }

    .head h1 {
        font-size: 28px;
    }

    .head button {
        font-size: 14px;
        padding: 6px 15px;
    }

    .mid {
        margin-top: 70px;
    }

    .mid h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .mid p {
        font-size: 16px;
    }

    .mid input {
        width: 90%;
        font-size: 16px;
    }

    .start_btn button {
        width: 90%;
        font-size: 17px;
        padding: 12px 0;
    }
}


@media (max-width: 400px) {

    .mid h1 {
        font-size: 22px;
    }

    .mid p {
        font-size: 14px;
    }

    .head h1 {
        font-size: 24px;
    }

    .start_btn button {
        font-size: 16px;
        width: 95%;
    }
}
